.next-enter {
  position: absolute;
  opacity: 1;
  left: 100%;
  padding: 0 50px;
  transform: translate3d(-100%, 0, 0);
  transition: opacity 500ms, transform 500ms;
}
    
/* .next-enter-active {
  position: absolute;
  opacity: 1;
  left: 100%;
  transform: translate3d(-100%, 0, 0);
  transition: opacity 800ms, transform 800ms;
} */
  
.next-exit {
  position: absolute;
  opacity: 1;
  left: 0;
  transform: translate3d(100%, 0, 0);
  transition: opacity 500ms, transform 500ms;
  z-index: 100;
}

.next-exit-active {
  position: absolute;
  opacity: 1;
  left: 0;
  transform: translate3d(100%, 0, 0);
  transition: opacity 500ms, transform 500ms;
  z-index: 100;
}

.prev-enter {
  position: absolute;
  opacity: 1;
  left: -100%;
  padding: 0 50px;
  transform: translate3d(100%, 0, 0);
  transition: opacity 500ms, transform 500ms;
}
  
/* .prev-enter-active {
  opacity: 1;
  left: -100%;
  width: 378px;
  transform: translate3d(100%, 0, 0);
  transition: opacity 800ms, transform 800ms;
} */
  
.prev-exit {
  transform: translate3d(100%, 0, 0);
}
  
.prev-exit-active {
  position: absolute;
  transform: translate3d(100%, 0, 0);
}

@media (max-width: 599px) {
  .prev-enter-active,
  .next-enter-active {
    padding: 0 40px!important;
  }
}

@media (max-width: 450px) {
  .prev-enter-active,
  .next-enter-active {
    padding: 0 24px!important;
  }
}
